* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", sans-serif;
  color: #f1faee;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.4rem;
}

span,
p {
  font-size: 1.8rem;
}

h1,
h2 {
  font-family: "Ovo", serif;
}

body {
  background: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.introduction {
  overflow: hidden;
  height: 7vh;
  color: #f1faee;
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.introduction h1 {
  transition: all 2s ease;
  font-size: 3.5rem;
}

.introduction span {
  font-size: 3.5rem;
}

.introduction div {
  font-size: 2rem;
}

main {
  margin-top: 3vh;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(3.5rem, 1fr));
  grid-template-rows: repeat(2, minmax(3rem, 1fr));
}

.rock {
  background: url("../img/rock.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.paper {
  background: url("../img/paper.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.scissors {
  background: url("../img/scissors.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.score {
  grid-area: 2/2/3;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.score .current-score,
.score .player,
.score .computer {
  font-size: 5rem;
  letter-spacing: 2rem;
}

.score h2 {
  font-size: 3.5rem;
  letter-spacing: 1rem;
  user-select: none;
}

.score-com {
  grid-area: 2/3/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.live-game-comments {
  font-size: 1.6rem;
  text-align: center;
}

.live-game-comments p {
  margin-top: 2rem;
}

.play-again {
  display: none;
  padding: 2rem 8rem;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  background: transparent;
  font-size: 2rem;
}

.active {
  display: block;
}

.inactive-btn {
  display: none;
}

.play-again-div {
  display: none;
}

.play-again-div-active {
  grid-area: 1/2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.play-again-div-active h1,
.play-again-div-active span {
  font-family: "Ovo", serif;
  font-size: 3.5rem;
}

.play-again-div-active button {
  font-family: "Quattrocento Sans", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  main {
    grid-template-rows: repeat(2, minmax(3rem, 40rem));
  }
  .score-com {
    grid-area: 2/3/3;
  }
  .play-again-div {
    grid-area: 1/1/1/4;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-y: hidden;
  }
  main {
    height: 93vh;
  }
  .introduction {
    height: 10vh;
    text-align: center;
  }
  .rock {
    background-size: 85%;
  }
  .paper {
    background-size: 130%;
  }
  .scissors {
    background-size: 150%;
  }
  .score-commentary-final {
    letter-spacing: 0.5rem;
  }
  .score-com {
    grid-area: 2/2/3/4;
  }
  .score {
    grid-area: 2/1;
  }
  .score .current-score,
  .score .player,
  .score .computer {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
  .current-score {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
  .score h2 {
    letter-spacing: 0.5rem;
  }
  .play-again-div {
    grid-area: 1/1/2/4;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 35%;
  }
  .introduction {
    height: 15vh;
  }
  main {
    height: 85vh;
  }
}
/*# sourceMappingURL=style.css.map */